List((
    texture_width: 30,
    texture_height: 20,
    sprites: [
        ( //ship 0
            x: 0,
            y: 0,
            width: 6,
            height: 12,
        ),
        ( //ship 1
            x: 7,
            y: 0,
            width: 7,
            height: 12,
        ),
        ( //ship 2
            x: 15,
            y: 0,
            width: 6,
            height: 12,
        ),
        ( //ship 3
            x: 22,
            y: 0,
            width: 7,
            height: 12,
        ),
        ( //laser double #4
            x: 1,
            y: 14,
            width: 3,
            height: 6,
        ),
        ( //laser beam #5
            x: 6,
            y: 0,
            width: 1,
            height: 20,
        ),
        ( //laser burst #6
            x: 8,
            y: 14,
            width: 1,
            height: 3,
        ),
        ( //projectile snipe #7
            x: 10,
            y: 14,
            width: 2,
            height: 3,
        ),
        ( //projectile burst #8
            x: 13,
            y: 14,
            width: 1,
            height: 4,
        ),
        ( //projectile rapid #9
            x: 15,
            y: 14,
            width: 1,
            height: 2,
        ),
        ( //mine #10
            x: 17,
            y: 14,
            width: 3,
            height: 3,
        ),
        ( //missile #11
            x: 21,
            y: 14,
            width: 3,
            height: 5,
        ),
        ( //rockets #12
            x: 25,
            y: 14,
            width: 5,
            height: 3,
        ),
        
    ],
))