List((
    texture_width: 64,
    texture_height: 64,
    sprites: [
        ( //ship 0
            x: 0,
            y: 0,
            width: 7,
            height: 12,
        ),
        ( //ship 1
            x: 8,
            y: 0,
            width: 7,
            height: 12,
        ),
        ( //ship 2
            x: 16,
            y: 0,
            width: 7,
            height: 12,
        ),
        ( //ship 3
            x: 24,
            y: 0,
            width: 7,
            height: 12,
        ),
        ( //laser double #4
            x: 1,
            y: 14,
            width: 3,
            height: 6,
        ),
        ( //laser beam #5
            x: 36,
            y: 0,
            width: 1,
            height: 12,
        ),
        ( //laser burst #6
            x: 9,
            y: 14,
            width: 1,
            height: 5,
        ),
        ( //projectile snipe #7
            x: 11,
            y: 14,
            width: 2,
            height: 3,
        ),
        ( //projectile burst #8
            x: 14,
            y: 14,
            width: 1,
            height: 4,
        ),
        ( //projectile rapid #9
            x: 16,
            y: 14,
            width: 1,
            height: 2,
        ),
        ( //mine p1 #10
            x: 21,
            y: 24,
            width: 4,
            height: 4,
        ),
        ( //missile #11
            x: 22,
            y: 14,
            width: 3,
            height: 5,
        ),
        ( //rockets #12
            x: 26,
            y: 14,
            width: 5,
            height: 3,
        ),
        ( //arena wall #13
            x: 0,
            y: 21,
            width: 20,
            height: 2,
        ),
        ( //arena circle #14
            x: 0,
            y: 24,
            width: 20,
            height: 20,
        ),
        ( //laser sword #15
            x: 32,
            y: 14,
            width: 3,
            height: 14,
        ),
        ( //mine p2 #16
            x: 21,
            y: 29,
            width: 4,
            height: 4,
        ),
        ( //mine p3 #17
            x: 21,
            y: 34,
            width: 4,
            height: 4,
        ),
        ( //mine p4 #18
            x: 21,
            y: 39,
            width: 4,
            height: 4,
        ),
        ( //shield bubble #19
            x: 44,
            y: 2,
            width: 13,
            height: 16,
        ),
    ],
))