#![enable(implicit_some)]
// Detailed field information can be found at https://docs.amethyst.rs/master/amethyst_ui/enum.UiWidget.html and related pages
Container(
    transform: (
        id: "background",
        anchor: Middle,
        stretch: XY( x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
        width: 20.,
        height: 20.,
    ),
    children: [


        Label(
            transform: (
                id: "game_title_text",
                width: 500.,
                height: 55.,
                x: 0.,
                y: -100.,
                anchor: TopMiddle,
                stretch: XY(x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
                mouse_reactive: true,
                selectable: 0,
            ),
            text: (
                text: "Score Screen",
                font: File("font/square.ttf", ("TTF", ())),
                font_size: 65.,
                color: (0.8, 0.1, 0.05, 1.0),
                align: Middle,
            )
        ),


        Container(
            transform: (
                id: "score_board_container",
                x: 0,
                y: -450,
                width: 900.,
                height: 380.,
                anchor: TopMiddle,
            ),
            background: SolidColor(1.0, 0.9, 0.9, 0.2),
            children: [


                Label(
                    transform: (
                        id: "Points",
                        width: 500.,
                        height: 55.,
                        x: -100.,
                        y: -50.,
                        anchor: TopMiddle,
                        stretch: XY(x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
                        mouse_reactive: true,
                        selectable: 0,
                    ),
                    text: (
                        text: "Points",
                        font: File("font/square.ttf", ("TTF", ())),
                        font_size: 35.,
                        color: (0.7, 0.05, 0.03, 1.0),
                        align: Middle,
                    )
                ),


                Label(
                    transform: (
                        id: "Kills",
                        width: 500.,
                        height: 55.,
                        x: 50.,
                        y: -50.,
                        anchor: TopMiddle,
                        stretch: XY(x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
                        mouse_reactive: true,
                        selectable: 0,
                    ),
                    text: (
                        text: "Kills",
                        font: File("font/square.ttf", ("TTF", ())),
                        font_size: 35.,
                        color: (0.7, 0.05, 0.03, 1.0),
                        align: Middle,
                    )
                ),


                Label(
                    transform: (
                        id: "Deaths",
                        width: 500.,
                        height: 55.,
                        x: 200.,
                        y: -50.,
                        anchor: TopMiddle,
                        stretch: XY(x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
                        mouse_reactive: true,
                        selectable: 0,
                    ),
                    text: (
                        text: "Deaths",
                        font: File("font/square.ttf", ("TTF", ())),
                        font_size: 35.,
                        color: (0.7, 0.05, 0.03, 1.0),
                        align: Middle,
                    )
                ),


                Label(
                    transform: (
                        id: "Time",
                        width: 500.,
                        height: 55.,
                        x: 350.,
                        y: -50.,
                        anchor: TopMiddle,
                        stretch: XY(x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
                        mouse_reactive: true,
                        selectable: 0,
                    ),
                    text: (
                        text: "Time",
                        font: File("font/square.ttf", ("TTF", ())),
                        font_size: 35.,
                        color: (0.7, 0.05, 0.03, 1.0),
                        align: Middle,
                    )
                ),



                Label(
                    transform: (
                        id: "p1_title",
                        width: 500.,
                        height: 55.,
                        x: -350.,
                        y: -120.,
                        anchor: TopMiddle,
                        stretch: XY(x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
                        mouse_reactive: true,
                        selectable: 0,
                    ),
                    text: (
                        text: "Player ?",
                        font: File("font/square.ttf", ("TTF", ())),
                        font_size: 35.,
                        color: (0.7, 0.05, 0.03, 1.0),
                        align: Middle,
                    )
                ),


                Label(
                    transform: (
                        id: "p2_title",
                        width: 500.,
                        height: 55.,
                        x: -350.,
                        y: -190,
                        anchor: TopMiddle,
                        stretch: XY(x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
                        mouse_reactive: true,
                        selectable: 0,
                    ),
                    text: (
                        text: "Player ?",
                        font: File("font/square.ttf", ("TTF", ())),
                        font_size: 35.,
                        color: (0.7, 0.05, 0.03, 1.0),
                        align: Middle,
                    )
                ),


                Label(
                    transform: (
                        id: "p3_title",
                        width: 500.,
                        height: 55.,
                        x: -350.,
                        y: -260.,
                        anchor: TopMiddle,
                        stretch: XY(x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
                        mouse_reactive: true,
                        selectable: 0,
                    ),
                    text: (
                        text: "Player ?",
                        font: File("font/square.ttf", ("TTF", ())),
                        font_size: 35.,
                        color: (0.7, 0.05, 0.03, 1.0),
                        align: Middle,
                    )
                ),


                Label(
                    transform: (
                        id: "p4_title",
                        width: 500.,
                        height: 55.,
                        x: -350.,
                        y: -330.,
                        anchor: TopMiddle,
                        stretch: XY(x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
                        mouse_reactive: true,
                        selectable: 0,
                    ),
                    text: (
                        text: "Player ?",
                        font: File("font/square.ttf", ("TTF", ())),
                        font_size: 35.,
                        color: (0.7, 0.05, 0.03, 1.0),
                        align: Middle,
                    )
                ),


                Label(
                    transform: (
                        id: "p1_place",
                        width: 500.,
                        height: 55.,
                        x: -200.,
                        y: -120.,
                        anchor: TopMiddle,
                        stretch: XY(x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
                        mouse_reactive: true,
                        selectable: 0,
                    ),
                    text: (
                        text: "???",
                        font: File("font/square.ttf", ("TTF", ())),
                        font_size: 35.,
                        color: (0.7, 0.05, 0.03, 1.0),
                        align: Middle,
                    )
                ),


                Label(
                    transform: (
                        id: "p2_place",
                        width: 500.,
                        height: 55.,
                        x: -200.,
                        y: -190,
                        anchor: TopMiddle,
                        stretch: XY(x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
                        mouse_reactive: true,
                        selectable: 0,
                    ),
                    text: (
                        text: "???",
                        font: File("font/square.ttf", ("TTF", ())),
                        font_size: 35.,
                        color: (0.7, 0.05, 0.03, 1.0),
                        align: Middle,
                    )
                ),


                Label(
                    transform: (
                        id: "p3_place",
                        width: 500.,
                        height: 55.,
                        x: -200.,
                        y: -260.,
                        anchor: TopMiddle,
                        stretch: XY(x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
                        mouse_reactive: true,
                        selectable: 0,
                    ),
                    text: (
                        text: "???",
                        font: File("font/square.ttf", ("TTF", ())),
                        font_size: 35.,
                        color: (0.7, 0.05, 0.03, 1.0),
                        align: Middle,
                    )
                ),


                Label(
                    transform: (
                        id: "p4_place",
                        width: 500.,
                        height: 55.,
                        x: -200.,
                        y: -330.,
                        anchor: TopMiddle,
                        stretch: XY(x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
                        mouse_reactive: true,
                        selectable: 0,
                    ),
                    text: (
                        text: "???",
                        font: File("font/square.ttf", ("TTF", ())),
                        font_size: 35.,
                        color: (0.7, 0.05, 0.03, 1.0),
                        align: Middle,
                    )
                ),


                Label(
                    transform: (
                        id: "p1_score",
                        width: 500.,
                        height: 55.,
                        x: -100.,
                        y: -120.,
                        anchor: TopMiddle,
                        stretch: XY(x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
                        mouse_reactive: true,
                        selectable: 0,
                    ),
                    text: (
                        text: "?",
                        font: File("font/square.ttf", ("TTF", ())),
                        font_size: 35.,
                        color: (0.7, 0.05, 0.03, 1.0),
                        align: Middle,
                    )
                ),


                Label(
                    transform: (
                        id: "p2_score",
                        width: 500.,
                        height: 55.,
                        x: -100.,
                        y: -190,
                        anchor: TopMiddle,
                        stretch: XY(x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
                        mouse_reactive: true,
                        selectable: 0,
                    ),
                    text: (
                        text: "?",
                        font: File("font/square.ttf", ("TTF", ())),
                        font_size: 35.,
                        color: (0.7, 0.05, 0.03, 1.0),
                        align: Middle,
                    )
                ),


                Label(
                    transform: (
                        id: "p3_score",
                        width: 500.,
                        height: 55.,
                        x: -100.,
                        y: -260.,
                        anchor: TopMiddle,
                        stretch: XY(x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
                        mouse_reactive: true,
                        selectable: 0,
                    ),
                    text: (
                        text: "?",
                        font: File("font/square.ttf", ("TTF", ())),
                        font_size: 35.,
                        color: (0.7, 0.05, 0.03, 1.0),
                        align: Middle,
                    )
                ),


                Label(
                    transform: (
                        id: "p4_score",
                        width: 500.,
                        height: 55.,
                        x: -100.,
                        y: -330.,
                        anchor: TopMiddle,
                        stretch: XY(x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
                        mouse_reactive: true,
                        selectable: 0,
                    ),
                    text: (
                        text: "?",
                        font: File("font/square.ttf", ("TTF", ())),
                        font_size: 35.,
                        color: (0.7, 0.05, 0.03, 1.0),
                        align: Middle,
                    )
                ),



                Label(
                    transform: (
                        id: "p1_kills",
                        width: 500.,
                        height: 55.,
                        x: 50.,
                        y: -120.,
                        anchor: TopMiddle,
                        stretch: XY(x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
                        mouse_reactive: true,
                        selectable: 0,
                    ),
                    text: (
                        text: "?",
                        font: File("font/square.ttf", ("TTF", ())),
                        font_size: 35.,
                        color: (0.7, 0.05, 0.03, 1.0),
                        align: Middle,
                    )
                ),


                Label(
                    transform: (
                        id: "p2_kills",
                        width: 500.,
                        height: 55.,
                        x: 50.,
                        y: -190,
                        anchor: TopMiddle,
                        stretch: XY(x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
                        mouse_reactive: true,
                        selectable: 0,
                    ),
                    text: (
                        text: "?",
                        font: File("font/square.ttf", ("TTF", ())),
                        font_size: 35.,
                        color: (0.7, 0.05, 0.03, 1.0),
                        align: Middle,
                    )
                ),


                Label(
                    transform: (
                        id: "p3_kills",
                        width: 500.,
                        height: 55.,
                        x: 50.,
                        y: -260.,
                        anchor: TopMiddle,
                        stretch: XY(x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
                        mouse_reactive: true,
                        selectable: 0,
                    ),
                    text: (
                        text: "?",
                        font: File("font/square.ttf", ("TTF", ())),
                        font_size: 35.,
                        color: (0.7, 0.05, 0.03, 1.0),
                        align: Middle,
                    )
                ),


                Label(
                    transform: (
                        id: "p4_kills",
                        width: 500.,
                        height: 55.,
                        x: 50.,
                        y: -330.,
                        anchor: TopMiddle,
                        stretch: XY(x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
                        mouse_reactive: true,
                        selectable: 0,
                    ),
                    text: (
                        text: "?",
                        font: File("font/square.ttf", ("TTF", ())),
                        font_size: 35.,
                        color: (0.7, 0.05, 0.03, 1.0),
                        align: Middle,
                    )
                ),


                Label(
                    transform: (
                        id: "p1_deaths",
                        width: 500.,
                        height: 55.,
                        x: 200.,
                        y: -120.,
                        anchor: TopMiddle,
                        stretch: XY(x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
                        mouse_reactive: true,
                        selectable: 0,
                    ),
                    text: (
                        text: "?",
                        font: File("font/square.ttf", ("TTF", ())),
                        font_size: 35.,
                        color: (0.7, 0.05, 0.03, 1.0),
                        align: Middle,
                    )
                ),


                Label(
                    transform: (
                        id: "p2_deaths",
                        width: 500.,
                        height: 55.,
                        x: 200.,
                        y: -190,
                        anchor: TopMiddle,
                        stretch: XY(x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
                        mouse_reactive: true,
                        selectable: 0,
                    ),
                    text: (
                        text: "?",
                        font: File("font/square.ttf", ("TTF", ())),
                        font_size: 35.,
                        color: (0.7, 0.05, 0.03, 1.0),
                        align: Middle,
                    )
                ),


                Label(
                    transform: (
                        id: "p3_deaths",
                        width: 500.,
                        height: 55.,
                        x: 200.,
                        y: -260.,
                        anchor: TopMiddle,
                        stretch: XY(x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
                        mouse_reactive: true,
                        selectable: 0,
                    ),
                    text: (
                        text: "?",
                        font: File("font/square.ttf", ("TTF", ())),
                        font_size: 35.,
                        color: (0.7, 0.05, 0.03, 1.0),
                        align: Middle,
                    )
                ),


                Label(
                    transform: (
                        id: "p4_deaths",
                        width: 500.,
                        height: 55.,
                        x: 200.,
                        y: -330.,
                        anchor: TopMiddle,
                        stretch: XY(x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
                        mouse_reactive: true,
                        selectable: 0,
                    ),
                    text: (
                        text: "?",
                        font: File("font/square.ttf", ("TTF", ())),
                        font_size: 35.,
                        color: (0.7, 0.05, 0.03, 1.0),
                        align: Middle,
                    )
                ),


                Label(
                    transform: (
                        id: "p1_timer",
                        width: 500.,
                        height: 55.,
                        x: 350.,
                        y: -120.,
                        anchor: TopMiddle,
                        stretch: XY(x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
                        mouse_reactive: true,
                        selectable: 0,
                    ),
                    text: (
                        text: "?",
                        font: File("font/square.ttf", ("TTF", ())),
                        font_size: 35.,
                        color: (0.7, 0.05, 0.03, 1.0),
                        align: Middle,
                    )
                ),


                Label(
                    transform: (
                        id: "p2_timer",
                        width: 500.,
                        height: 55.,
                        x: 350.,
                        y: -190,
                        anchor: TopMiddle,
                        stretch: XY(x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
                        mouse_reactive: true,
                        selectable: 0,
                    ),
                    text: (
                        text: "?",
                        font: File("font/square.ttf", ("TTF", ())),
                        font_size: 35.,
                        color: (0.7, 0.05, 0.03, 1.0),
                        align: Middle,
                    )
                ),


                Label(
                    transform: (
                        id: "p3_timer",
                        width: 500.,
                        height: 55.,
                        x: 350.,
                        y: -260.,
                        anchor: TopMiddle,
                        stretch: XY(x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
                        mouse_reactive: true,
                        selectable: 0,
                    ),
                    text: (
                        text: "?",
                        font: File("font/square.ttf", ("TTF", ())),
                        font_size: 35.,
                        color: (0.7, 0.05, 0.03, 1.0),
                        align: Middle,
                    )
                ),


                Label(
                    transform: (
                        id: "p4_timer",
                        width: 500.,
                        height: 55.,
                        x: 350.,
                        y: -330.,
                        anchor: TopMiddle,
                        stretch: XY(x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
                        mouse_reactive: true,
                        selectable: 0,
                    ),
                    text: (
                        text: "?",
                        font: File("font/square.ttf", ("TTF", ())),
                        font_size: 35.,
                        color: (0.7, 0.05, 0.03, 1.0),
                        align: Middle,
                    )
                ),
            ]
        ),

        Container(
            transform: (
                id: "go_back_container",
                x: 180,
                y: 100,
                width: 280.,
                height: 100.,
                anchor: BottomLeft,
            ),
            background: SolidColor(1.0, 0.9, 0.9, 1.0),
            children: [

                Button(
                    transform: (
                        id: "back_to_menu",
                        width: 270.,
                        height: 90.,
                        tab_order: 15,
                        anchor: Middle,
                        mouse_reactive: true,
                    ),
                    button: (
                        text: "BACK TO MENU",
                        font: File("font/square.ttf", ("TTF", ())),
                        font_size: 40.,
                        normal_text_color: (0.8, 0.1, 0.05, 1.0),
                        normal_image: SolidColor(0., 0., 0., 1.),
                        hover_image: SolidColor(0.1, 0.1, 0.1, 1.),
                        press_image: SolidColor(0.15, 0.15, 0.15, 1.),
                    )
                ),
            ]
        ),
    ],
)
