(
  axes: {
    "p1_accel": Emulated(pos: Key(W), neg: Key(S)),
    "p1_turn": Emulated(pos: Key(A), neg: Key(D)),
    "p2_accel": Emulated(pos: Key(Up), neg: Key(Down)),
    "p2_turn": Emulated(pos: Key(Left), neg: Key(Right)),
    "p3_accel": Emulated(pos: Key(Numpad8), neg: Key(Numpad5)),
    "p3_turn": Emulated(pos: Key(Numpad4), neg: Key(Numpad6)),
    "p4_accel": Emulated(pos: Key(I), neg: Key(K)),
    "p4_turn": Emulated(pos: Key(J), neg: Key(L)),
  },
  actions: {
    "p1_shoot": [[Key(Space)]],
    "p2_shoot": [[Key(RControl)]],
    "p3_shoot": [[Key(Numpad0)]],
    "p4_shoot": [[Key(RAlt)]],
  },
)