(
  axes: {
    VehicleAccel(0): Emulated(pos: Key(W), neg: Key(S)),
    VehicleTurn(0): Emulated(pos: Key(A), neg: Key(D)),
    VehicleStrafe(0): Emulated(pos: Key(Q), neg: Key(E)),
    VehicleAccel(1): Emulated(pos: Key(Up), neg: Key(Down)),
    VehicleTurn(1): Emulated(pos: Key(Left), neg: Key(Right)),
    VehicleStrafe(1): Emulated(pos: Key(Delete), neg: Key(PageDown)),
    VehicleAccel(2): Emulated(pos: Key(Numpad8), neg: Key(Numpad5)),
    VehicleTurn(2): Emulated(pos: Key(Numpad4), neg: Key(Numpad6)),
    VehicleStrafe(2): Emulated(pos: Key(Numpad7), neg: Key(Numpad9)),
    VehicleAccel(3): Emulated(pos: Key(I), neg: Key(K)),
    VehicleTurn(3): Emulated(pos: Key(J), neg: Key(L)),
    VehicleStrafe(3): Emulated(pos: Key(U), neg: Key(O)),
  },
  actions: {
    VehiclePriFire(0): [[Key(Space)]],
    VehicleAltFire(0): [[Key(LAlt)]],
    VehicleRepair(0): [[Key(R)]],
    VehiclePriFire(1): [[Key(RControl)]],
    VehicleAltFire(1): [[Key(RShift)]],
    VehicleRepair(1): [[Key(Return)]],
    VehiclePriFire(2): [[Key(Numpad0)]],
    VehicleAltFire(2): [[Key(Numpad1)]],
    VehicleRepair(2): [[Key(Numpad2)]],
    VehiclePriFire(3): [[Key(RAlt)]],
    VehicleAltFire(3): [[Key(Slash)]],
    VehicleRepair(3): [[Key(Semicolon)]],
  },
)