{
  LaserDoubleGimballed : WeaponStats (
    weapon_type: LaserDouble,
    heat_seeking: false,
    heat_seeking_agility: 0.0,
    attached: false,
    deployed: true,
    tracking_angle: 0.34,
    spread_angle: 0.0,
    mounted_angle: 0.0,
    shot_speed: 400.0,
    accel_rate: 0.0,
    damage: 20.0,
    trigger_radius: 0.0,
    damage_radius: 0.0,
    cooldown_reset: 0.4,
    burst_shot_limit: 0,
    burst_cooldown_reset: 0.0,
    shot_life_limit: -1.0,
    piercing_damage_pct: 0.0,
    shield_damage_pct: 120.0,
    armor_damage_pct: 60.0,
    health_damage_pct: 100.0,
    ion_malfunction_pct: 0.0,
    weight: 12.0,
  ),
  LaserDouble : WeaponStats (
    weapon_type: LaserDouble,
    heat_seeking: false,
    heat_seeking_agility: 0.0,
    attached: false,
    deployed: true,
    tracking_angle: 0.0,
    spread_angle: 0.0,
    mounted_angle: 0.0,
    shot_speed: 400.0,
    accel_rate: 0.0,
    damage: 20.0,
    trigger_radius: 0.0,
    damage_radius: 0.0,
    cooldown_reset: 0.4,
    burst_shot_limit: 0,
    burst_cooldown_reset: 0.0,
    shot_life_limit: -1.0,
    piercing_damage_pct: 0.0,
    shield_damage_pct: 120.0,
    armor_damage_pct: 60.0,
    health_damage_pct: 100.0,
    ion_malfunction_pct: 0.0,
    weight: 10.0,
  ),
  LaserDoubleBurstSide : WeaponStats (
    weapon_type: LaserDouble,
    heat_seeking: false,
    heat_seeking_agility: 0.0,
    attached: false,
    deployed: true,
    tracking_angle: 1.5707,
    spread_angle: 0.0,
    mounted_angle: 1.5707,
    shot_speed: 400.0,
    accel_rate: 0.0,
    damage: 5.0,
    trigger_radius: 0.0,
    damage_radius: 0.0,
    cooldown_reset: 0.8,
    burst_shot_limit: 6,
    burst_cooldown_reset: 0.05,
    shot_life_limit: -1.0,
    piercing_damage_pct: 0.0,
    shield_damage_pct: 120.0,
    armor_damage_pct: 60.0,
    health_damage_pct: 100.0,
    ion_malfunction_pct: 0.0,
    weight: 15.0,
  ),
  LaserBeam : WeaponStats (
    weapon_type: LaserBeam,
    heat_seeking: false,
    heat_seeking_agility: 0.0,
    attached: false,
    deployed: true,
    tracking_angle: 0.0,
    spread_angle: 0.0,
    mounted_angle: 0.0,
    shot_speed: 600.0,
    accel_rate: 0.0,
    damage: 1.5,
    trigger_radius: 0.0,
    damage_radius: 0.0,
    cooldown_reset: 0.025,
    burst_shot_limit: 0,
    burst_cooldown_reset: 0.0,
    shot_life_limit: -1.0,
    piercing_damage_pct: 0.0,
    shield_damage_pct: 120.0,
    armor_damage_pct: 60.0,
    health_damage_pct: 100.0,
    ion_malfunction_pct: 0.0,
    weight: 10.0,
  ),
  LaserPulse : WeaponStats (
    weapon_type: LaserPulse,
    heat_seeking: false,
    heat_seeking_agility: 0.0,
    attached: false,
    deployed: true,
    tracking_angle: 0.0,
    spread_angle: 0.0,
    mounted_angle: 0.0,
    shot_speed: 400.0,
    accel_rate: 0.0,
    damage: 14.0,
    trigger_radius: 0.0,
    damage_radius: 0.0,
    cooldown_reset: 0.75,
    burst_shot_limit: 2,
    burst_cooldown_reset: 0.1,
    shot_life_limit: -1.0,
    piercing_damage_pct: 0.0,
    shield_damage_pct: 120.0,
    armor_damage_pct: 60.0,
    health_damage_pct: 100.0,
    ion_malfunction_pct: 0.0,
    weight: 10.0,
  ),
  LaserPulseGimballed : WeaponStats (
    weapon_type: LaserPulse,
    heat_seeking: false,
    heat_seeking_agility: 0.0,
    attached: false,
    deployed: true,
    tracking_angle: 0.34,
    spread_angle: 0.0,
    mounted_angle: 0.0,
    shot_speed: 400.0,
    accel_rate: 0.0,
    damage: 14.0,
    trigger_radius: 0.0,
    damage_radius: 0.0,
    cooldown_reset: 0.75,
    burst_shot_limit: 2,
    burst_cooldown_reset: 0.1,
    shot_life_limit: -1.0,
    piercing_damage_pct: 0.0,
    shield_damage_pct: 120.0,
    armor_damage_pct: 60.0,
    health_damage_pct: 100.0,
    ion_malfunction_pct: 0.0,
    weight: 12.0,
  ),
  ProjectileBurstFire : WeaponStats (
    weapon_type: ProjectileBurstFire,
    heat_seeking: false,
    heat_seeking_agility: 0.0,
    attached: false,
    deployed: true,
    tracking_angle: 0.0,
    spread_angle: 0.0,
    mounted_angle: 0.0,
    shot_speed: 250.0,
    accel_rate: 0.0,
    damage: 12.0,
    trigger_radius: 0.0,
    damage_radius: 0.0,
    cooldown_reset: 0.50,
    burst_shot_limit: 2,
    burst_cooldown_reset: 0.1,
    shot_life_limit: -1.0,
    piercing_damage_pct: 0.0,
    shield_damage_pct: 80.0,
    armor_damage_pct: 90.0,
    health_damage_pct: 100.0,
    ion_malfunction_pct: 0.0,
    weight: 10.0,
  ),
  Shotgun : WeaponStats (
    weapon_type: ProjectileRapidFire,
    heat_seeking: false,
    heat_seeking_agility: 0.0,
    attached: false,
    deployed: true,
    tracking_angle: 0.0,
    spread_angle: 0.20,
    mounted_angle: 0.0,
    shot_speed: 250.0,
    accel_rate: 0.0,
    damage: 5.0,
    trigger_radius: 0.0,
    damage_radius: 0.0,
    cooldown_reset: 0.50,
    burst_shot_limit: 7,
    burst_cooldown_reset: 0.001,
    shot_life_limit: -1.0,
    piercing_damage_pct: 0.0,
    shield_damage_pct: 80.0,
    armor_damage_pct: 90.0,
    health_damage_pct: 100.0,
    ion_malfunction_pct: 0.0,
    weight: 15.0,
  ),
  ProjectileSteadyFire : WeaponStats (
    weapon_type: ProjectileBurstFire,
    heat_seeking: false,
    heat_seeking_agility: 0.0,
    attached: false,
    deployed: true,
    tracking_angle: 0.0,
    spread_angle: 0.0,
    mounted_angle: 0.0,
    shot_speed: 250.0,
    accel_rate: 0.0,
    damage: 24.0,
    trigger_radius: 0.0,
    damage_radius: 0.0,
    cooldown_reset: 0.45,
    burst_shot_limit: 0,
    burst_cooldown_reset: 0.0,
    shot_life_limit: -1.0,
    piercing_damage_pct: 0.0,
    shield_damage_pct: 80.0,
    armor_damage_pct: 90.0,
    health_damage_pct: 100.0,
    ion_malfunction_pct: 0.0,
    weight: 10.0,
  ),
  ProjectileRapidFireTurret : WeaponStats (
    weapon_type: ProjectileRapidFire,
    heat_seeking: false,
    heat_seeking_agility: 0.0,
    attached: false,
    deployed: true,
    tracking_angle: 6.29,
    spread_angle: 0.0,
    mounted_angle: 0.0,
    shot_speed: 250.0,
    accel_rate: 0.0,
    damage: 4.0,
    trigger_radius: 0.0,
    damage_radius: 0.0,
    cooldown_reset: 0.10,
    burst_shot_limit: 0,
    burst_cooldown_reset: 0.0,
    shot_life_limit: -1.0,
    piercing_damage_pct: 0.0,
    shield_damage_pct: 80.0,
    armor_damage_pct: 90.0,
    health_damage_pct: 100.0,
    ion_malfunction_pct: 0.0,
    weight: 20.0,
  ),
  ProjectileRapidFire : WeaponStats (
    weapon_type: ProjectileRapidFire,
    heat_seeking: false,
    heat_seeking_agility: 0.0,
    attached: false,
    deployed: true,
    tracking_angle: 0.0,
    spread_angle: 0.0,
    mounted_angle: 0.0,
    shot_speed: 250.0,
    accel_rate: 0.0,
    damage: 5.0,
    trigger_radius: 0.0,
    damage_radius: 0.0,
    cooldown_reset: 0.10,
    burst_shot_limit: 0,
    burst_cooldown_reset: 0.0,
    shot_life_limit: -1.0,
    piercing_damage_pct: 0.0,
    shield_damage_pct: 80.0,
    armor_damage_pct: 90.0,
    health_damage_pct: 100.0,
    ion_malfunction_pct: 0.0,
    weight: 10.0,
  ),
  ProjectileCannonFire : WeaponStats (
    weapon_type: ProjectileCannonFire,
    heat_seeking: false,
    heat_seeking_agility: 0.0,
    attached: false,
    deployed: true,
    tracking_angle: 0.0,
    spread_angle: 0.0,
    mounted_angle: 0.0,
    shot_speed: 600.0,
    accel_rate: 0.0,
    damage: 50.0,
    trigger_radius: 0.0,
    damage_radius: 0.0,
    cooldown_reset: 0.9,
    burst_shot_limit: 0,
    burst_cooldown_reset: 0.0,
    shot_life_limit: -1.0,
    piercing_damage_pct: 10.0,
    shield_damage_pct: 80.0,
    armor_damage_pct: 90.0,
    health_damage_pct: 100.0,
    ion_malfunction_pct: 25.0,
    weight: 20.0,
  ),
  Missile : WeaponStats (
    weapon_type: Missile,
    heat_seeking: true,
    heat_seeking_agility: 150.0,
    attached: false,
    deployed: true,
    tracking_angle: 0.0,
    spread_angle: 0.0,
    mounted_angle: 0.0,
    shot_speed: 70.0,
    accel_rate: 0.0,
    damage: 38.0,
    trigger_radius: 0.0,
    damage_radius: 20.0,
    cooldown_reset: 1.5,
    burst_shot_limit: 0,
    burst_cooldown_reset: 0.0,
    shot_life_limit: 5.0,
    piercing_damage_pct: 15.0,
    shield_damage_pct: 75.0,
    armor_damage_pct: 75.0,
    health_damage_pct: 100.0,
    ion_malfunction_pct: 0.0,
    weight: 20.0,
  ),
  Rockets : WeaponStats (
    weapon_type: Rockets,
    heat_seeking: false,
    heat_seeking_agility: 0.0,
    attached: false,
    deployed: true,
    tracking_angle: 0.0,
    spread_angle: 0.07,
    mounted_angle: 0.0,
    shot_speed: 50.0,
    accel_rate: 200.0,
    damage: 25.0,
    trigger_radius: 0.0,
    damage_radius: 10.0,
    cooldown_reset: 0.8,
    burst_shot_limit: 4,
    burst_cooldown_reset: 0.25,
    shot_life_limit: -1.0,
    piercing_damage_pct: 5.0,
    shield_damage_pct: 75.0,
    armor_damage_pct: 75.0,
    health_damage_pct: 100.0,
    ion_malfunction_pct: 0.0,
    weight: 15.0,
  ),
  Mine : WeaponStats (
    weapon_type: Mine,
    heat_seeking: false,
    heat_seeking_agility: 0.0,
    attached: false,
    deployed: true,
    tracking_angle: 0.0,
    spread_angle: 0.0,
    mounted_angle: 0.0,
    shot_speed: 0.0,
    accel_rate: 0.0,
    damage: 80.0,
    trigger_radius: 15.0,
    damage_radius: 25.0,
    cooldown_reset: 2.5,
    burst_shot_limit: 3,
    burst_cooldown_reset: 0.25,
    shot_life_limit: 120.0,
    piercing_damage_pct: 15.0,
    shield_damage_pct: 75.0,
    armor_damage_pct: 75.0,
    health_damage_pct: 100.0,
    ion_malfunction_pct: 0.0,
    weight: 30.0,
  ),
  Trap : WeaponStats (
    weapon_type: Trap,
    heat_seeking: false,
    heat_seeking_agility: 0.0,
    attached: false,
    deployed: true,
    tracking_angle: 0.0,
    spread_angle: 0.0,
    mounted_angle: 0.0,
    shot_speed: 0.0,
    accel_rate: 0.0,
    damage: 9.0,
    trigger_radius: 0.0,
    damage_radius: 0.0,
    cooldown_reset: 3.5,
    burst_shot_limit: 20,
    burst_cooldown_reset: 0.06,
    shot_life_limit: 5.0,
    piercing_damage_pct: 15.0,
    shield_damage_pct: 75.0,
    armor_damage_pct: 75.0,
    health_damage_pct: 100.0,
    ion_malfunction_pct: 0.0,
    weight: 10.0,
  ),
  LaserSword : WeaponStats (
    weapon_type: LaserSword,
    heat_seeking: false,
    heat_seeking_agility: 0.0,
    attached: true,
    deployed: false,
    tracking_angle: 0.0,
    spread_angle: 0.0,
    mounted_angle: 0.0,
    shot_speed: 0.0,
    accel_rate: 0.0,
    damage: 0.75,
    trigger_radius: 0.0,
    damage_radius: 0.0,
    cooldown_reset: 0.0,
    burst_shot_limit: 0,
    burst_cooldown_reset: 0.0,
    shot_life_limit: -1.0,
    piercing_damage_pct: 50.0,
    shield_damage_pct: 75.0,
    armor_damage_pct: 75.0,
    health_damage_pct: 100.0,
    ion_malfunction_pct: 0.0,
    weight: 5.0,
  ),
  BackwardsLaserSword : WeaponStats (
    weapon_type: LaserSword,
    heat_seeking: false,
    heat_seeking_agility: 0.0,
    attached: true,
    deployed: false,
    tracking_angle: 0.0,
    spread_angle: 0.0,
    mounted_angle: 3.1415,
    shot_speed: 0.0,
    accel_rate: 0.0,
    damage: 0.75,
    trigger_radius: 0.0,
    damage_radius: 0.0,
    cooldown_reset: 0.0,
    burst_shot_limit: 0,
    burst_cooldown_reset: 0.0,
    shot_life_limit: -1.0,
    piercing_damage_pct: 50.0,
    shield_damage_pct: 75.0,
    armor_damage_pct: 75.0,
    health_damage_pct: 100.0,
    ion_malfunction_pct: 0.0,
    weight: 5.0,
  ),
  Flamethrower : WeaponStats (
    weapon_type: Flame,
    heat_seeking: false,
    heat_seeking_agility: 0.0,
    attached: false,
    deployed: true,
    tracking_angle: 0.0,
    spread_angle: 0.20,
    mounted_angle: 0.0,
    shot_speed: 150.0,
    accel_rate: 0.0,
    damage: 3.0,
    trigger_radius: 0.0,
    damage_radius: 0.0,
    cooldown_reset: 0.3,
    burst_shot_limit: 15,
    burst_cooldown_reset: 0.01,
    shot_life_limit: 0.4,
    piercing_damage_pct: 0.0,
    shield_damage_pct: 80.0,
    armor_damage_pct: 90.0,
    health_damage_pct: 100.0,
    ion_malfunction_pct: 0.0,
    weight: 15.0,
  ),
  SmartRocketGrenade : WeaponStats (
    weapon_type: Grenade,
    heat_seeking: false,
    heat_seeking_agility: 0.0,
    attached: false,
    deployed: true,
    tracking_angle: 0.0,
    spread_angle: 0.0,
    mounted_angle: 0.0,
    shot_speed: 200.0,
    accel_rate: 50.0,
    damage: 38.0,
    trigger_radius: 12.0,
    damage_radius: 12.0,
    cooldown_reset: 0.6,
    burst_shot_limit: 0,
    burst_cooldown_reset: 0.0,
    shot_life_limit: -1.0,
    piercing_damage_pct: 10.0,
    shield_damage_pct: 80.0,
    armor_damage_pct: 90.0,
    health_damage_pct: 100.0,
    ion_malfunction_pct: 0.0,
    weight: 20.0,
  ),
  IonCannon : WeaponStats (
    weapon_type: Ion,
    heat_seeking: false,
    heat_seeking_agility: 0.0,
    attached: false,
    deployed: true,
    tracking_angle: 0.0,
    spread_angle: 0.0,
    mounted_angle: 0.0,
    shot_speed: 400.0,
    accel_rate: 0.0,
    damage: 30.0,
    trigger_radius: 0.0,
    damage_radius: 0.0,
    cooldown_reset: 0.7,
    burst_shot_limit: 0,
    burst_cooldown_reset: 0.0,
    shot_life_limit: -1.0,
    piercing_damage_pct: 10.0,
    shield_damage_pct: 100.0,
    armor_damage_pct: 0.0,
    health_damage_pct: 0.0,
    ion_malfunction_pct: 50.0,
    weight: 20.0,
  ),
}