{
  LaserDouble : WeaponStats (
    weapon_type: LaserDouble,
    heat_seeking: false,
    heat_seeking_agility: 0.0,
    attached: false,
    deployed: true,
    tracking_angle: 0.0,
    spread_angle: 0.0,
    shot_speed: 400.0,
    damage: 20.0,
    cooldown_reset: 0.4,
    burst_shot_limit: 0,
    burst_cooldown_reset: 0.0,
    piercing_damage_pct: 0.0,
    shield_damage_pct: 120.0,
    armor_damage_pct: 60.0,
    health_damage_pct: 100.0,
  ),
  LaserDoubleGimballed : WeaponStats (
    weapon_type: LaserDouble,
    heat_seeking: false,
    heat_seeking_agility: 0.0,
    attached: false,
    deployed: true,
    tracking_angle: 0.34,
    spread_angle: 0.0,
    shot_speed: 400.0,
    damage: 20.0,
    cooldown_reset: 0.4,
    burst_shot_limit: 0,
    burst_cooldown_reset: 0.0,
    piercing_damage_pct: 0.0,
    shield_damage_pct: 120.0,
    armor_damage_pct: 60.0,
    health_damage_pct: 100.0,
  ),
  LaserDoubleBurst : WeaponStats (
    weapon_type: LaserDouble,
    heat_seeking: false,
    heat_seeking_agility: 0.0,
    attached: false,
    deployed: true,
    tracking_angle: 0.0,
    spread_angle: 0.0,
    shot_speed: 400.0,
    damage: 4.0,
    cooldown_reset: 0.8,
    burst_shot_limit: 6,
    burst_cooldown_reset: 0.05,
    piercing_damage_pct: 0.0,
    shield_damage_pct: 120.0,
    armor_damage_pct: 60.0,
    health_damage_pct: 100.0,
  ),
  LaserBeam : WeaponStats (
    weapon_type: LaserBeam,
    heat_seeking: false,
    heat_seeking_agility: 0.0,
    attached: false,
    deployed: true,
    tracking_angle: 0.0,
    spread_angle: 0.0,
    shot_speed: 1400.0,
    damage: 0.6,
    cooldown_reset: 0.005,
    burst_shot_limit: 0,
    burst_cooldown_reset: 0.0,
    piercing_damage_pct: 0.0,
    shield_damage_pct: 120.0,
    armor_damage_pct: 60.0,
    health_damage_pct: 100.0,
  ),
  LaserPulse : WeaponStats (
    weapon_type: LaserPulse,
    heat_seeking: false,
    heat_seeking_agility: 0.0,
    attached: false,
    deployed: true,
    tracking_angle: 0.0,
    spread_angle: 0.0,
    shot_speed: 400.0,
    damage: 12.0,
    cooldown_reset: 0.75,
    burst_shot_limit: 2,
    burst_cooldown_reset: 0.1,
    piercing_damage_pct: 0.0,
    shield_damage_pct: 120.0,
    armor_damage_pct: 60.0,
    health_damage_pct: 100.0,
  ),
  LaserPulseGimballed : WeaponStats (
    weapon_type: LaserPulse,
    heat_seeking: false,
    heat_seeking_agility: 0.0,
    attached: false,
    deployed: true,
    tracking_angle: 0.34,
    spread_angle: 0.0,
    shot_speed: 400.0,
    damage: 12.0,
    cooldown_reset: 0.75,
    burst_shot_limit: 2,
    burst_cooldown_reset: 0.1,
    piercing_damage_pct: 0.0,
    shield_damage_pct: 120.0,
    armor_damage_pct: 60.0,
    health_damage_pct: 100.0,
  ),
  ProjectileBurstFire : WeaponStats (
    weapon_type: ProjectileBurstFire,
    heat_seeking: false,
    heat_seeking_agility: 0.0,
    attached: false,
    deployed: true,
    tracking_angle: 0.0,
    spread_angle: 0.0,
    shot_speed: 250.0,
    damage: 12.0,
    cooldown_reset: 0.50,
    burst_shot_limit: 2,
    burst_cooldown_reset: 0.1,
    piercing_damage_pct: 0.0,
    shield_damage_pct: 80.0,
    armor_damage_pct: 90.0,
    health_damage_pct: 100.0,
  ),
  Shotgun : WeaponStats (
    weapon_type: ProjectileRapidFire,
    heat_seeking: false,
    heat_seeking_agility: 0.0,
    attached: false,
    deployed: true,
    tracking_angle: 0.0,
    spread_angle: 0.20,
    shot_speed: 250.0,
    damage: 5.0,
    cooldown_reset: 0.50,
    burst_shot_limit: 7,
    burst_cooldown_reset: 0.001,
    piercing_damage_pct: 0.0,
    shield_damage_pct: 80.0,
    armor_damage_pct: 90.0,
    health_damage_pct: 100.0,
  ),
  ProjectileSteadyFire : WeaponStats (
    weapon_type: ProjectileBurstFire,
    heat_seeking: false,
    heat_seeking_agility: 0.0,
    attached: false,
    deployed: true,
    tracking_angle: 0.0,
    spread_angle: 0.0,
    shot_speed: 250.0,
    damage: 24.0,
    cooldown_reset: 0.45,
    burst_shot_limit: 0,
    burst_cooldown_reset: 0.0,
    piercing_damage_pct: 0.0,
    shield_damage_pct: 80.0,
    armor_damage_pct: 90.0,
    health_damage_pct: 100.0,
  ),
  ProjectileRapidFireTurret : WeaponStats (
    weapon_type: ProjectileRapidFire,
    heat_seeking: false,
    heat_seeking_agility: 0.0,
    attached: false,
    deployed: true,
    tracking_angle: 6.29,
    spread_angle: 0.0,
    shot_speed: 250.0,
    damage: 5.0,
    cooldown_reset: 0.10,
    burst_shot_limit: 0,
    burst_cooldown_reset: 0.0,
    piercing_damage_pct: 0.0,
    shield_damage_pct: 80.0,
    armor_damage_pct: 90.0,
    health_damage_pct: 100.0,
  ),
  ProjectileRapidFire : WeaponStats (
    weapon_type: ProjectileRapidFire,
    heat_seeking: false,
    heat_seeking_agility: 0.0,
    attached: false,
    deployed: true,
    tracking_angle: 0.0,
    spread_angle: 0.0,
    shot_speed: 250.0,
    damage: 5.0,
    cooldown_reset: 0.10,
    burst_shot_limit: 0,
    burst_cooldown_reset: 0.0,
    piercing_damage_pct: 0.0,
    shield_damage_pct: 80.0,
    armor_damage_pct: 90.0,
    health_damage_pct: 100.0,
  ),
  ProjectileCannonFire : WeaponStats (
    weapon_type: ProjectileCannonFire,
    heat_seeking: false,
    heat_seeking_agility: 0.0,
    attached: false,
    deployed: true,
    tracking_angle: 0.0,
    spread_angle: 0.0,
    shot_speed: 700.0,
    damage: 50.0,
    cooldown_reset: 0.9,
    burst_shot_limit: 0,
    burst_cooldown_reset: 0.0,
    piercing_damage_pct: 10.0,
    shield_damage_pct: 80.0,
    armor_damage_pct: 90.0,
    health_damage_pct: 100.0,
  ),
  Missile : WeaponStats (
    weapon_type: Missile,
    heat_seeking: true,
    heat_seeking_agility: 150.0,
    attached: false,
    deployed: true,
    tracking_angle: 0.0,
    spread_angle: 0.0,
    shot_speed: 70.0,
    damage: 35.0,
    cooldown_reset: 1.5,
    burst_shot_limit: 0,
    burst_cooldown_reset: 0.0,
    piercing_damage_pct: 15.0,
    shield_damage_pct: 75.0,
    armor_damage_pct: 75.0,
    health_damage_pct: 100.0,
  ),
  Rockets : WeaponStats (
    weapon_type: Rockets,
    heat_seeking: false,
    heat_seeking_agility: 0.0,
    attached: false,
    deployed: true,
    tracking_angle: 0.0,
    spread_angle: 0.07,
    shot_speed: 250.0,
    damage: 25.0,
    cooldown_reset: 0.8,
    burst_shot_limit: 4,
    burst_cooldown_reset: 0.25,
    piercing_damage_pct: 5.0,
    shield_damage_pct: 75.0,
    armor_damage_pct: 75.0,
    health_damage_pct: 100.0,
  ),
  Mine : WeaponStats (
    weapon_type: Mine,
    heat_seeking: false,
    heat_seeking_agility: 0.0,
    attached: false,
    deployed: true,
    tracking_angle: 0.0,
    spread_angle: 0.0,
    shot_speed: 0.0,
    damage: 50.0,
    cooldown_reset: 2.5,
    burst_shot_limit: 3,
    burst_cooldown_reset: 0.25,
    piercing_damage_pct: 15.0,
    shield_damage_pct: 75.0,
    armor_damage_pct: 75.0,
    health_damage_pct: 100.0,
  ),
  RocketGrenade : WeaponStats (
    weapon_type: Mine,
    heat_seeking: true,
    heat_seeking_agility: 80.0,
    attached: false,
    deployed: true,
    tracking_angle: 0.0,
    spread_angle: 0.0,
    shot_speed: 100.0,
    damage: 30.0,
    cooldown_reset: 1.5,
    burst_shot_limit: 3,
    burst_cooldown_reset: 0.25,
    piercing_damage_pct: 15.0,
    shield_damage_pct: 75.0,
    armor_damage_pct: 75.0,
    health_damage_pct: 100.0,
  ),
  LaserSword : WeaponStats (
    weapon_type: LaserSword,
    heat_seeking: false,
    heat_seeking_agility: 0.0,
    attached: true,
    deployed: false,
    tracking_angle: 0.0,
    spread_angle: 0.0,
    shot_speed: 0.0,
    damage: 0.75,
    cooldown_reset: 0.0,
    burst_shot_limit: 0,
    burst_cooldown_reset: 0.0,
    piercing_damage_pct: 50.0,
    shield_damage_pct: 75.0,
    armor_damage_pct: 75.0,
    health_damage_pct: 100.0,
  ),
}