{
  OpenEmptyMap: ArenaProperties (
    floor: [
        ArenaFloor (
            x: 200.0,
            y: 200.0,
            width: 400.0,
            height: 400.0,
        ),
    ],
    arena_circles: [],
    arena_rectangles: [],
    weapon_spawn_boxes: [
        WeaponSpawnBox (x: 133.0, y: 133.0, weapon_name: None),
        WeaponSpawnBox (x: 133.0, y: 267.0, weapon_name: None),
        WeaponSpawnBox (x: 267.0, y: 133.0, weapon_name: None),
        WeaponSpawnBox (x: 267.0, y: 267.0, weapon_name: None),
    ],
    king_hills: [],
    race_checkpoints: [],
    player_spawn_points: [
        PlayerSpawnPoint (x: 80.0, y: 80.0, rotation: -45.0),
        PlayerSpawnPoint (x: 320.0, y: 320.0, rotation: 135.0),
        PlayerSpawnPoint (x: 80.0, y: 320.0, rotation: -135.0),
        PlayerSpawnPoint (x: 320.0, y: 80.0, rotation: 45.0),
    ],
    enemy_spawn_points: [],
    custom_elements: [],
  ),
  StandardCombat: ArenaProperties (
    floor: [
        ArenaFloor (
            x: 200.0,
            y: 200.0,
            width: 400.0,
            height: 400.0,
        ),
    ],
    arena_circles: [
        ArenaCircle (x:200.0, y:200.0, radius:40.0),
        ArenaCircle (x:80.0, y:200.0, radius:20.0),
        ArenaCircle (x:200.0, y:80.0, radius:20.0),
        ArenaCircle (x:320, y:200.0, radius:20.0),
        ArenaCircle (x:200.0, y:320.0, radius:20.0),
    ],
    arena_rectangles: [],
    weapon_spawn_boxes: [
        WeaponSpawnBox (x: 133.0, y: 133.0, weapon_name: None),
        WeaponSpawnBox (x: 133.0, y: 267.0, weapon_name: None),
        WeaponSpawnBox (x: 267.0, y: 133.0, weapon_name: None),
        WeaponSpawnBox (x: 267.0, y: 267.0, weapon_name: None),
    ],
    king_hills: [],
    race_checkpoints: [],
    player_spawn_points: [
        PlayerSpawnPoint (x: 80.0, y: 80.0, rotation: -45.0),
        PlayerSpawnPoint (x: 320.0, y: 320.0, rotation: 135.0),
        PlayerSpawnPoint (x: 80.0, y: 320.0, rotation: -135.0),
        PlayerSpawnPoint (x: 320.0, y: 80.0, rotation: 45.0),
    ],
    enemy_spawn_points: [],
    custom_elements: [],
  ),
  StandardKingOfTheHill: ArenaProperties (
    floor: [
        ArenaFloor (
            x: 200.0,
            y: 200.0,
            width: 400.0,
            height: 400.0,
        ),
    ],
    arena_circles: [
        ArenaCircle (x:80.0, y:200.0, radius:20.0),
        ArenaCircle (x:200.0, y:80.0, radius:20.0),
        ArenaCircle (x:320, y:200.0, radius:20.0),
        ArenaCircle (x:200.0, y:320.0, radius:20.0),
    ],
    arena_rectangles: [],
    weapon_spawn_boxes: [
        WeaponSpawnBox (x: 120.0, y: 120.0, weapon_name: None),
        WeaponSpawnBox (x: 120.0, y: 280.0, weapon_name: None),
        WeaponSpawnBox (x: 280.0, y: 120.0, weapon_name: None),
        WeaponSpawnBox (x: 280.0, y: 280.0, weapon_name: None),
    ],
    king_hills: [
        ArenaKingHill (x:200.0, y:200.0, radius:40.0),
    ],
    race_checkpoints: [],
    player_spawn_points: [
        PlayerSpawnPoint (x: 80.0, y: 80.0, rotation: -45.0),
        PlayerSpawnPoint (x: 320.0, y: 320.0, rotation: 135.0),
        PlayerSpawnPoint (x: 80.0, y: 320.0, rotation: -135.0),
        PlayerSpawnPoint (x: 320.0, y: 80.0, rotation: 45.0),
    ],
    enemy_spawn_points: [],
    custom_elements: [],
  ),
  StandardRace: ArenaProperties (
    floor: [
        ArenaFloor (
            x: 200.0,
            y: 200.0,
            width: 400.0,
            height: 400.0,
        ),
    ],
    arena_circles: [
        ArenaCircle (x:200.0, y:224.0, radius:40.0),
        ArenaCircle (x:280.0, y:200.0, radius:40.0),
        ArenaCircle (x:280.0, y:120.0, radius:40.0),
        ArenaCircle (x:280.0, y:280.0, radius:40.0),
        ArenaCircle (x:360.0, y:380.0, radius:40.0),
        ArenaCircle (x:40.0, y:380.0, radius:40.0),
        ArenaCircle (x:120.0, y:200.0, radius:40.0),
        ArenaCircle (x:120.0, y:280.0, radius:40.0),
        ArenaCircle (x:80.0, y:60.0, radius:40.0),
        ArenaCircle (x:200.0, y:120.0, radius:40.0),
        ArenaCircle (x:200.0, y:380.0, radius:40.0),
    ],
    arena_rectangles: [],
    weapon_spawn_boxes: [
        WeaponSpawnBox (x: 80.0, y: 80.0, weapon_name: None),
        WeaponSpawnBox (x: 80.0, y: 320.0, weapon_name: None),
        WeaponSpawnBox (x: 320.0, y: 80.0, weapon_name: None),
        WeaponSpawnBox (x: 320.0, y: 320.0, weapon_name: None),
    ],
    king_hills: [],
    race_checkpoints: [
        ArenaRaceCheckpoint (x: 360.0, y: 200.0, rotation: 0.0, length: 80.0),
        ArenaRaceCheckpoint (x: 200.0, y: 360.0, rotation: -90.0, length: 80.0),
        ArenaRaceCheckpoint (x: 40.0, y: 200.0, rotation: 0.0, length: 80.0),
        ArenaRaceCheckpoint (x: 200.0, y: 75.0, rotation: 90.0, length: 80.0),
    ],
    player_spawn_points: [
        PlayerSpawnPoint (x: 330.0, y: 186.0, rotation: 0.0),
        PlayerSpawnPoint (x: 350.0, y: 186.0, rotation: 0.0),
        PlayerSpawnPoint (x: 370.0, y: 186.0, rotation: 0.0),
        PlayerSpawnPoint (x: 390.0, y: 186.0, rotation: 0.0),
    ],
    enemy_spawn_points: [],
    custom_elements: [],
  ),
}