{
  MediumCombat : VehicleStats (
    display_name: "Medium Combat",
    vehicle_type: MediumCombat,
    max_shield: 100.0,
    max_armor: 100.0,
    max_health: 100.0,
    engine_force: 100.0,
    engine_weight: 20.0,
    width: 7.0,
    height: 12.0,
    sprite_scalar: 1.0,
    max_velocity: 150.0,
    movement_type: Hover,
    health_repair_rate: 10.0,
    health_repair_init_time: 2.5,
    heal_pulse_rate: 0.0,
    heal_pulse_amount: 0.0,
    shield_recharge_rate: 10.0,
    shield_cooldown: 5.0,
    shield_repair_reboot_time: 5.0,
    shield_radius: 14.0,
    weapons_installed: [
      WeaponNameInstall(firing_group: 0, weapon_name: LaserDoubleGimballed),
      WeaponNameInstall(firing_group: 1, weapon_name: ProjectileRapidFireTurret),
    ],
  ),
  LightRacer : VehicleStats (
    display_name: "Light Racer",
    vehicle_type: LightRacer,
    max_shield: 25.0,
    max_armor: 0.0,
    max_health: 100.0,
    engine_force: 95.0,
    engine_weight: 15.0,
    width: 7.0,
    height: 12.0,
    sprite_scalar: 1.0,
    max_velocity: 150.0,
    movement_type: Hover,
    health_repair_rate: 10.0,
    health_repair_init_time: 2.5,
    heal_pulse_rate: 0.0,
    heal_pulse_amount: 0.0,
    shield_recharge_rate: 10.0,
    shield_cooldown: 5.0,
    shield_repair_reboot_time: 5.0,
    shield_radius: 14.0,
    weapons_installed: [
      WeaponNameInstall(firing_group: 0, weapon_name: LaserDoubleGimballed),
      WeaponNameInstall(firing_group: 1, weapon_name: BackwardsLaserSword),
    ],
  ),
  HeavyTank : VehicleStats (
    display_name: "Heavy Tank",
    vehicle_type: HeavyTank,
    max_shield: 200.0,
    max_armor: 200.0,
    max_health: 150.0,    
    engine_force: 120.0,
    engine_weight: 30.0,
    width: 9.0,
    height: 14.0,
    sprite_scalar: 1.0,
    max_velocity: 150.0,
    movement_type: Hover,
    health_repair_rate: 10.0,
    health_repair_init_time: 2.5,
    heal_pulse_rate: 0.0,
    heal_pulse_amount: 0.0,
    shield_recharge_rate: 10.0,
    shield_cooldown: 5.0,
    shield_repair_reboot_time: 5.0,
    shield_radius: 17.0,
    weapons_installed: [
      WeaponNameInstall(firing_group: 0, weapon_name: LaserDoubleGimballed),
      WeaponNameInstall(firing_group: 0, weapon_name: LaserBeam),
      WeaponNameInstall(firing_group: 1, weapon_name: ProjectileCannon),
    ],
  ),
  CivilianCruiser : VehicleStats (
    display_name: "Civilian Cruiser",
    vehicle_type: CivilianCruiser,
    max_shield: 0.0,
    max_armor: 0.0,
    max_health: 100.0,
    engine_force: 50.0,
    engine_weight: 15.0,
    width: 7.0,
    height: 10.0,
    sprite_scalar: 1.0,
    max_velocity: 150.0,
    movement_type: Hover,
    health_repair_rate: 10.0,
    health_repair_init_time: 2.5,
    heal_pulse_rate: 0.0,
    heal_pulse_amount: 0.0,
    shield_recharge_rate: 10.0,
    shield_cooldown: 5.0,
    shield_repair_reboot_time: 5.0,
    shield_radius: 14.0,
    weapons_installed: [],
  ),
  Interceptor : VehicleStats (
    display_name: "Interceptor",
    vehicle_type: Interceptor,
    max_shield: 125.0,
    max_armor: 50.0,
    max_health: 100.0,
    engine_force: 95.0,
    engine_weight: 10.0,
    width: 15.0,
    height: 9.0,
    sprite_scalar: 1.0,
    max_velocity: 150.0,
    movement_type: Hover,
    health_repair_rate: 10.0,
    health_repair_init_time: 2.5,
    heal_pulse_rate: 0.0,
    heal_pulse_amount: 0.0,
    shield_recharge_rate: 10.0,
    shield_cooldown: 5.0,
    shield_repair_reboot_time: 5.0,
    shield_radius: 17.0,
    weapons_installed: [
      WeaponNameInstall(firing_group: 0, weapon_name: LaserDoubleGimballed),
      WeaponNameInstall(firing_group: 1, weapon_name: LaserBeam),
    ],
  ),
  TSpeeder : VehicleStats (
    display_name: "T-Speeder",
    vehicle_type: TSpeeder,
    max_shield: 0.0,
    max_armor: 150.0,
    max_health: 150.0,
    engine_force: 100.0,
    engine_weight: 10.0,
    width: 10.4,
    height: 11.6,
    sprite_scalar: 2.5,
    max_velocity: 150.0,
    movement_type: Hover,
    health_repair_rate: 10.0,
    health_repair_init_time: 2.5,
    heal_pulse_rate: 0.0,
    heal_pulse_amount: 0.0,
    shield_recharge_rate: 10.0,
    shield_cooldown: 5.0,
    shield_repair_reboot_time: 5.0,
    shield_radius: 14.0,
    weapons_installed: [
      WeaponNameInstall(firing_group: 0, weapon_name: LaserDoubleGimballed),
    ],
  ),
}