[
  LaserDouble,
  LaserDoubleGimballed,
  LaserDoubleBurstSide,
  LaserPulse,
  LaserBeam,
  ProjectileBurstFire,
  ProjectileRapidFireTurret,
  ProjectileCannon,
  PiercingProjectile,
  Shotgun,
  Missile,
  Rockets,
  SmartRocketGrenade,
  Flamethrower,
  BioSpiker,
  StormGun,
  SlimeLauncher,
  Mine,
  Trap,
  LaserSword,
  BackwardsLaserSword,
  IonCannon,
]