[
  LaserDoubleGimballed,
  LaserDoubleBurstSide,
  LaserPulse,
  LaserBeam,
  Shotgun,
  ProjectileCannon,
  ProjectileRapidFireTurret,
  ProjectileBurstFire,
  PiercingProjectile,
  Flamethrower,
  Missile,
  Rockets,
  SmartRocketGrenade,
  Mine,
  Trap,
  LaserSword,
  BackwardsLaserSword,
  BioSpiker,
  StormGun,
  SlimeLauncher,
]