[
  LaserDoubleGimballed,
  ProjectileRapidFireTurret,
  Flamethrower,
  Missile,
  LaserBeam,
  Shotgun,
  ProjectileCannon,
  LaserPulseGimballed,
  Rockets,
  ProjectileBurstFire,
  LaserDoubleBurstSide,
  Mine,
  LaserSword,
  BackwardsLaserSword,
]