[
  LaserDoubleGimballed,
  LaserDoubleBurstSide,
  LaserPulseGimballed,
  LaserBeam,
  Shotgun,
  ProjectileCannonFire,
  ProjectileRapidFireTurret,
  ProjectileBurstFire,
  PiercingProjectile,
  Flamethrower,
  Missile,
  Rockets,
  SmartRocketGrenade,
  Mine,
  Trap,
  LaserSword,
  BackwardsLaserSword,
]