{
  LaserDoubleGimballed: 0,
  LaserDoubleBurstSide: 4,
  LaserPulse: 8,
  LaserBeam: 8,
  Shotgun: 8,
  ProjectileCannon: 8,
  ProjectileRapidFireTurret: 4,
  ProjectileBurstFire: 5,
  PiercingProjectile: 3,
  Flamethrower: 4,
  Missile: 3,
  Rockets: 3,
  SmartRocketGrenade: 2,
  Mine: 2,
  Trap: 2,
  LaserSword: 3,
  BackwardsLaserSword: 1,
  BioSpiker: 4,
  StormGun: 4,
  SlimeLauncher: 4,
}